---
title: Call for Minicursos
layout: page
slide_id: 2
---

<div class="row mt-2">
    <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6 text-justify">
        <div class="conference-text">
            <p class="lead">Chamada de Minicursos</p>
            <p>{{site.data.cfm.description}}</p>
            <p>
                Temos interesse em receber propostas de minicursos que poderão ter caráter fundamentalmente teórico e/ou prático com sessões a serem realizadas em laboratório (utilizando-se uma infraestrutura 
                computacional local e/ou remota). A duração dos minicursos selecionados dependerá da definição do programa do evento (previsão entre 2h e 3h de duração).
            </p>
            <p>
                Ao preparar sua submissão, siga as instruções fornecidas nas <a href="{{site.data.cfm.submission}}">Diretrizes de Submissão</a>,
                e não deve exceder <b>{{site.data.submission.pagelimits[3].limit}}</b> páginas incluindo texto, figuras e referências.
                A submissão deve incluir o título, o resumo e os nomes e afiliações de todos os autores.
            </p>
            <p>
               A proposta deve ser enviada para Maria Clicia S. Castro (clicia@ime.uerj.br) e Rafaela Brum (rafaelabrum@eng.uerj.br). Depois do envio, esperar um e-mail de confirmação de submissão em até 72 horas.
            </p>
        </div>

        {% include card-important-dates.html %}

        <div class="conference-text">
            {% include contact-us.html %}
        </div>
    </div>
    <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6 conference-text">
        {% if site.data.cfm %}
        <p>
            A X ERAD-SE tem interesse em receber propostas de minicursos nos seguintes temas, mas não estão limitadas a:
        </p>
        <ul>
            {% for area in site.data.cfm.areas %}
            <li><b>{{area.category}}</b></li>
            {% if area.topics %}
            <ul>
                {% for topic in area.topics %}
                <li>{{topic}}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}

    </div>
</div>
