---
title: Chamada da Maratona de Programação
layout: page
slide_id: 2
---

<div class="row mt-2">
    <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6 text-justify">
        <div class="conference-text">
            <p class="lead">Chamada para a Maratona de Programação Paralela</p>
            <p>{{site.data.cfp.description}}</p>

            <p>
              A Maratona de Programação Paralela Distribuída é uma competição que tem como objetivo 
              estimular os conhecimentos na área de computação de alto desempenho, por meio das 
              habilidades desenvolvidas com a programação paralela e distribuída. As equipes devem 
              otimizar códigos sequenciais com o objetivo de obter respostas mais rápidas. Aceleração 
              da resposta e solução correta são critérios de pontuação da competição.
            </p>
            <p>
              O público-alvo é discentes de graduação e pós-graduação em Ciência da Computação, 
              Sistemas de Informação, Engenharia da Computação, além de demais cursos correlatos, que 
              também estão convidados a participar. Monte sua equipe e venha participar de uma 
              competição que vai testar suas habilidades em programação paralela e/ou distribuída.
            </p>
        </div>

        {% include card-important-dates.html %}

        <div class="conference-text">
            {% include contact-us.html %}
        </div>
    </div>
    <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6 conference-text">
        {% if site.data.cfpp %}
        <p>
            As áreas de interesse incluem, mas não estão limitadas a:
        </p>
        <ul>
            {% for area in site.data.cfp.areas %}
            <li><b>{{area.category}}</b></li>
            {% if area.topics %}
            <ul>
                {% for topic in area.topics %}
                <li>{{topic}}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}

    </div>
</div>
