---
title: Destaques do evento
layout: page
slide_id: 3
---

<div class="row mt-xs-0 mt-sm-0 my-2">
    <div class="col text-dark">   
        <h4 id="inscricao-promocional">Destaques da ERAD-SE 2024!!</h4>
         <!-- <div class="row">
              <div class="col">
              <a href="{{site.data.registration.url}}"><img src="assets/images/SBC-Cbanner.png" width="100%"></a>
          -->
        <div id="conference-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                {% for slide in site.data.conference.highlights %}
                   {% if page.slide_id and page.slide_id  == slide.id %}
                      {% assign active = "active" %}
                   {% else %}
                      {% assign active = "" %}
                   {% endif %}
                   <div class="carousel-item {{active}} overflow-hidden">
                       <img class="img-fluid w-100 h-100" style="object-fit:cover;" src="{{ slide.image_path }}" alt="{{ slide.description }}">
                       <div class="carousel-caption">
                           <p class="align-bottom text-white">
                               <span class="px-3 py-1 rounded">
                                  {{slide.description}}
                               {% if slide.photographer.name %}
                                   by <a href="{{slide.photographer_link}}">{{slide.photographer_name}}</a>
                               {% endif %}
                               </span>
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
              
        <!--    </div>
        </div> -->
        <br> {% include contact-us.html %}
    </div>
</div>
