---
title: Venue
layout: page
slide_id: 2
---

<div class="row mt-xs-0 mt-sm-0 my-2">
    <div class="col text-muted">
        <p class="text-justify">
            A {{site.data.conference.full_title}} acontecerá de
            {{site.data.conference.date}} no {{site.data.conference.location}},
            {{site.data.conference.country}}
        </p>

        <h6 class="text-info">Local da ERAD-SE 2025</h6>
        <p class="text-justify">
            {{site.data.venue.address}}
        </p>

        <h6 class="text-info">Hospedagem</h6>
        <p class="text-justify">
            {{site.data.venue.accommodation.instructions}}
        </p>

        {% if site.data.venue.accommodation.hotels %}
        <ul>
            {% for hotel in site.data.venue.accommodation.hotels %}
            <li><a href="{{hotel.web}}" target="_blank" rel="noopener noreferrer"><b>{{hotel.name}}</b></a>
            <ul><li>{{hotel.address}}</li>
                <li>{{hotel.distance}}</li></ul></li>
            {% endfor %}
        </ul>
        {% endif %}

        <h6 class="text-info">Direções</h6>
        <p class="text-justify">
            {{site.data.venue.directions}}
        </p>
        <p class="text-justify">
            <img src="./assets/images/car.png" width="50" alt="carro"> 
            <b>Vindo de carro pelo ponte Rio-Niterói:</b>
            <ul>
            <li>Após a praça do pedágio, tome a saída mais à direita (direção Barcas/Gragoatá), 
                que desce na Av. Feliciano Sodré.</li>
            <li>Siga esta avenida até o final e dobre à esquerda, junto com o fluxo, na Rua Visconde 
                do Rio Branco. Nesta rua, você passará em frente ao Terminal Rodoviário João Goulart e 
                às Estações dos Aerobarcos e das Barcas, todos à direita. A seguir, nesta mesma rua, você
                verá, à esquerda, o prédio dos Correios e um pouco mais adiante, o Plaza Shopping. </li>
            <li>Prossiga na mesma rua, mantendo-se sempre o mais à direita possível, e você passará em 
                frente ao ao Museu Petrobras do Cinema Brasileiro (à direita) e a entrada do Campus do 
                Gragoatá da UFF (à direita), a qual fica junto ao shopping Estação Cantareira (à direita)
                e em frente da praça de São Domingos (ou Leoni Ramos), à esquerda. Esse não é ainda o 
                nosso campus!</li>
            <li>Seguindo adiante você passará um CIEP (à direita)e, passando por mais uma pequena praça 
                (à direita) chegará a uma área militar (forte do Gragoatá) bem à frente. Nesse ponto a 
                rua dobra à esquerda e se torna a Av. Milton Tavares de Souza (ou Av Litorânea), a qual 
                segue beirando o mar e circundando o campus Praia Vermelha da UFF (o qual estará à sua 
                esquerda).</li>
            <li>Um pouco à frente você verá um portão de entrada para a UFF à esquerda. Caso o portão 
                esteja fechado, seguindo adiante você verá uma pequena ilha (a Ilha de Boa Viagem) 
                conectada ao continente por uma passarela. Logo antes de passar pela ilha, dobre à 
                esquerda, contornando uma pequena praça e subindo. Após cerca de 50m esta rua chega ao 
                fim e você verá outro portão de entrada da UFF à sua esquerda. O Instituto de Computação
                é um prédio a cerca de 50m adiante, à esquerda.</li>
            </ul>
        </p>
        <p class="text-justify">
            <img src="./assets/images/bus.png" width="50" alt="onibus"> 
            <b>Vindo de ônibus do Rio de Janeiro:</b>
            <ul>
            <li>Há diversos ônibus que fazem o trajeto Rio-Niterói. O no.996 (Gávea-Charitas) sai do 
                campus da PUC (Gávea, zona Sul), passa por Jardim Botânico, Botafogo, Flamengo, 
                Laranjeiras, Túnel Santa Bárbara, passa próximo à Rodoviária do Rio e depois segue 
                pela Ponte Rio-Niterói. O no. 100 (Praça XV-Niterói) sai do Centro e também passa pela 
                Rodoviária. ATENÇÃO: estes ônibus não param no interior da Rodoviária, os pontos 
                encontram-se do lado de fora. Esta área pode ser um pouco insegura, portanto tome 
                cuidado com suas bagagens e peça informações somente nos guichês no interior da 
                rodoviária. O no.731 (Castelo- Charitas) passa pelo Aeroporto Santos Dumont e o no.998 
                (Galeão -Charitas), faz o trajeto a partir do Aeroporto Internacional Tom Jobim/Galeão.
                Ambos são da viação 1001. Há ainda o número 741 (Leme-Charitas), que vem da região de 
                Copacabana.</li>
            <li>Em Niterói, você poderá saltar no Terminal Rodoviário João Goulart, próximo à Estação 
                das Barcas. Pegue então o ônibus no. 47 (Centro-Canto do Rio). O trajeto desse ônibus 
                é o mesmo caminho descrito no 2o e 3o itens  da rota de carro acima. Após passar o CIEP descrito acima, o 
                ônibus vira à esquerda na rua Passo da Pátria. Salte em frente à praça Nilo Peçanha 
                (ou da Boa Viagem), onde fica o portão de entrada da Escola de Engenharia da UFF, que 
                dá acesso ao prédio do Instituto de Computação.</li>
            <li>Outra opção para quem chega próximo às barcas é pegar o microônibus 47A. Ele vai pela 
                beira-mar o tempo todo, passando por um forte. O segundo ponto depois do forte é o da 
                UFF, o prédio do Instituto de Computação está a uma pequena caminhada.</li>
            </ul>
        </p>
        <p class="text-align">
            A <a href="https://www.google.com/maps/place/UFF+-+Instituto+de+Computa%C3%A7%C3%A3o/@-22.9059398,-43.1333203,18.17z/data=!4m6!3m5!1s0x99817e444e692b:0xfd5e35fb577af2f5!8m2!3d-22.9064655!4d-43.1332602!16s%2Fg%2F1ydkj35pg?hl=pt-BR&entry=ttu&g_ep=EgoyMDI1MDgxMi4wIKXMDSoASAFQAw%3D%3D">localização do IC-UFF</a> no Google Maps:
            <br><img class="img-fluid" src="{{site.data.venue.direction}}" alt="direction">
        </p>
        
    </div>
</div>
